#day,#night {


  position:relative;
  float:left;
  margin-right: 10px;
  display:none;

}

#p {
 width:50%;
  color:#8080ff;
  background-color:hsla(120,100%,50%,0.2); /* 0.2 alpha opacity*/
 display: none;
}

#pa {
 width:50%;
  color: red;
  background-color:hsla(328,100%,44%,0.2); 
 display: none;
}
.clearfix {
  overflow:auto;
}
